.portal-job-detail-banner {
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    min-height: 200px;
    padding: 1rem;
}

.portal-job-detail-banner_title {
    font-size: clamp(1.5rem, 5cqi, 3.5rem);
    line-height: 1.1;
    margin-top: 12px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 48rem) {
    .portal-job-detail-banner {
        min-height: 300px;
    }
}